@use "./utils" as ut;
@use "./fonts" as ft;
.main {
    @include ut.flexBox(row, center, center);
    font-family: ft.$pop-font;
    &__content{
        @include ut.flexBox(column, center, center);
        background-color: #fff;
        padding: 20px;
        border-radius: .5rem;
        width: 420px;
        &__line {
            margin-block: 20px;
            height: 1px;
            border-radius: 1rem;
            background-color: #000;
        }

        &__titleBox{
            width: 100%;
            text-align: left;
            position: relative;
            font-size: 26px;

            h2::after {
                content: "";
                width: 80%;
                height: 3.5px;
                background-color: #000;
                border-radius: 1rem;
                position: absolute;
                left: 0;
                top: calc(100% - 5px);
            }
        }

        &__contentBox{
            margin-top: 20px;
            width: 100%;

            &__area{
                max-height: 280px;
                overflow-y: auto;
                
                .item {
                    display: flex;
                    justify-content: space-between;
                    background-color: rgb(156, 255, 255);
                    padding: 6px;
                    border-radius: .5rem;
                    &:nth-child(n + 2){
                        margin-top: 20px;
                    }

                    label{
                        cursor: pointer;
                        padding: 6px;
                        display: flex;
                        align-items: center;
                    }

                    &__textBox{
                        display: inline-block;
                        max-width: 280px;
                    }

                    &__optionsBox{
                        display: flex;
                        align-items: center;
                        gap: 10px;


                        div {
                            @include ut.flexBox(row, center, center);
                            padding: 5px;
                            cursor: pointer;
                            min-height: 40px;
                            height: 100%;
                            width: 40px;
                            
                            &:hover img {
                                transform: scale(1.1);
                                transition: transform .4s;

                            }

                            img {
                                width: 18px;
                                transition: transform .4s;
                            }
                        }


                    }
                }
            }
        }



    }
}

.inputBox{
    position: relative;
    box-shadow: 0 0 2px .1rem rgba(0, 0, 0, .212);
    border-radius: .3rem;

    &:hover, &:focus-within{
        box-shadow: 0 0 6px .1rem rgba(0, 0, 0, .212);
    }

    input {
        padding: 12px 17px;
        // border: rgb(205, 202, 202) solid 2px;
        font-size: 18px;
        width: 280px;
        border: none;
        outline: none;
        border-radius: .3rem;
    }

    
}

.bi.bi-vector-pen{
    font-size: 26px;
    position: absolute;
    top: 50%;
    transform: translateY(-47%);
    right: 0;
    cursor: pointer;
}
.bi.bi-vector-pen::before{
    padding: 10px 10px;
    transition: color .5s;
}
.bi.bi-vector-pen:hover::before{
    color: gold;
    transition: color .3s;
}